body {
  background-color: black;
  color: white;
  font-size: 24;
  font-family: tahoma;
  text-align: left;
}

p {
  font-size: 18px;
}


h1 {
  color: red;
  text-align: center;
  font-family: verdana;
  font-size: 72;
  font-weight: bold;
}

h2 {
  color: red;
  text-align: center;
  font-family: verdana;
  font-size:45;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}